<header>
  <div class="header-container">
    <span class="header-container__title"><%= title %></span>
    <div class="header-container__top">
      <img src="/imgs/tutor.jpg" alt="Logo" class="logo-click-hf" />
      <a class="header-container__help" onclick="redirectToPage('<%= help %>')"
        ><%= help %></a
      >
    </div>
  </div>
</header>
<div class="space"></div>
